<template name="yahooForm">
    <!-- Page heading -->
    <div class="wrapper wrapper-content animated fadeInRight" >
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add email</h5>
                         <ul class="nav nav-tabs navbar-right">
		                        <li class="active"><a data-toggle="tab" href="#tab-single"> Single</a></li>
		                        <li class=""><a data-toggle="tab" href="#tab-multi">Multi</a></li>
		                 </ul>
                    </div>
		                <div class="tabs-container">
		                    <div class="tab-content">
		                        <div id="tab-single" class="tab-pane active">
		                            <div class="panel-body">
										<div class="ibox-content">
											<form class="js-save-email-form-horizontal form-horizontal">
												<div class="form-group"><label class="col-sm-2 control-label">Email</label>

												<div class="col-sm-10"><input type="email" id="email" class="form-control" required></div>
												</div>
											<div class="hr-line-dashed"></div>
											<div class="form-group"><label class="col-sm-2 control-label">Password</label>
											<div class="col-sm-10"><input type="password" id="password" class="form-control" name="password" required></div>
											</div>
											<div class="hr-line-dashed"></div>
											<div class="form-group">
											<div class="">
											<button class="btn btn-white" type="submit">Cancel</button>
											<button class="btn btn-primary" type="submit">Save</button>
											</div>
											</div>
											</form>
										</div>
		                            </div>
		                        </div>
		                        <div id="tab-multi" class="tab-pane">
		                            <div class="panel-body">
		                               <div class="ibox-content">
					                        <form class="js-save-email-form-horizontal form-horizontal">
					                            <div class="form-group"><label class="control-label">Enter multi-emails and password following this pattern: email,password</label>

					                            <div class="col-sm-12">
					                            	<textarea class="form-control" rows="5" id="comment"></textarea>
					                            </div>
					                            </div>


					                            <div class="hr-line-dashed"></div>
					                            <div class="form-group">
					                                <div class="">
					                                    <button class="btn btn-white" type="submit">Cancel</button>
					                                    <button class="btn btn-primary" type="submit">Save</button>
					                                </div>
					                            </div>
					                        </form>
		                    			</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>

                </div>
            </div>
        </div>
    </div>

</template>