<template name="yahooTables">

    <!-- Page heading -->

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Yahoo list accounts</h5>
                    </div>
                    <div class="ibox-content">
					{{> yahoo_email_table}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="yahoo_email_table">
	 <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="4">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Password</th>
                                <th>domain</th>
                                <th>Accessible</th>
                            </tr>
                            </thead>
                            <tbody>
							{{#each emails}}
								{{> yahoo_emails_item}}
							{{/each}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
</template>
<template name="yahoo_emails_item">
	<tr>
		<td>{{email}}</td>
		<td>{{password}}</td>
	</tr>
</template>