<template name="yahooForm">
    <!-- Page heading -->
    <div class="wrapper wrapper-content animated fadeInRight" >
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add Account</h5>
                         <ul class="nav nav-tabs navbar-right">
		                        <li class="active"><a data-toggle="tab" href="#tab-single">Single</a></li>
		                        <li class=""><a data-toggle="tab" href="#tab-multi">Multi</a></li>
		                 		</ul>
                    </div>
		                <div class="tabs-container">
		                    <div class="tab-content">
		                        <div id="tab-single" class="tab-pane active">
		                            <div class="panel-body">
										<div class="ibox-content">
											{{#autoForm collection="Emails" id="yahooForm" type="method" meteormethod="addAEmailYahoo"}}
										    <div class="form-group {{#if afFieldIsInvalid name='email'}}has-error{{/if}}">
											    <label class="control-label col-md-1 col-sm-1 col-xs-1">{{afFieldLabelText name='email'}}</label>
											    {{> afFieldInput name='email' class='form-control' 
											    placeholder='example@yahoo.com'}}
											    {{#if afFieldIsInvalid name='email'}}
											    <span class="help-block">{{{afFieldMessage name='email'}}}</span>
											    {{/if}}
											  </div>
										    <div class="hr-line-dashed"></div>
										    <div class="form-group {{#if afFieldIsInvalid name='email'}}has-error{{/if}}">
											    <label class="control-label col-md-1 col-sm-1 col-xs-1">{{afFieldLabelText name='password'}}</label>
											    {{> afFieldInput name='password' class='form-control'}}
											    {{#if afFieldIsInvalid name='password'}}
											    <span class="help-block">{{{afFieldMessage name='password'}}}</span>
											    {{/if}}
											  </div>
										      <div class="hr-line-dashed"></div>
										      <button type="reset" class="btn btn-default">Cancel</button>
											   <button type="submit" class="btn btn-primary">Save</button>
									  	{{/autoForm}}
										</div>
		                            </div>
		                        </div>
		                        <div id="tab-multi" class="tab-pane ">
		                            <div class="panel-body">
		                               <div class="ibox-content">
					                        <form class="js-multi-form form-horizontal">
					                            <div class="form-group">
					                            	<label class="control-label">Enter multi-emails and password following this pattern: email,password</label>
						                            	<div class="col-sm-12">
							                            	<textarea class="form-control" rows="5" id="yahhoString" placeholder="example@yahoo.com,password,example2@yahoo.com,password" required></textarea>
							                            </div>
					                            </div>
					                            <div class="hr-line-dashed"></div>
					                            <div class="form-group">
					                                <div class="">
					                                    <button class="btn btn-default" type="reset">Cancel</button>
					                                    <button class="btn btn-primary" type="submit">Save</button>
					                                </div>
					                            </div>
					                        </form>
		                    			</div>
		                            </div>
		                        </div>
		                    </div>
		                </div>

                </div>
            </div>
        </div>
    </div>
</template>