<template name="aolTables">
	<!-- Page heading -->
	{{> pageHeading title='AOL Tobmaps Table' }}
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12 text-left m-t-lg">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Accounts List</h5>
					</div>
					<div class="ibox-content">
						<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
							<thead>
								<tr>
									<th>Email</th>
									<th>Password</th>
									<th>Domain</th>
									<th>IMAP</th>
								</tr>
							</thead>
							<tbody>
								{{#each emails}}
								<tr>
									<td class="text-left">{{> editableText collection="emails" field="email" userCanEdit=userCanEdit }}
									</td>
									<td class="text-left">{{> editableText collection="emails" field="password"}}
									</td>
									<td class="text-left">{{typeDomain}}</td>
									<td class="text-left">{{imap}}</td>
									<td class="text-left">
										<a class="js-delete-account" href="#"><i class="fa fa-trash-o text-danger">
										</i></a>
									</td>
								</tr>
								{{/each}}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5">
										<ul class="pagination pull-right"></ul>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>