<template name="addAol">
    {{> pageHeading title='AOL Tobmaps' }}
	<div class="wrapper wrapper-content animated fadeInRight">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="text-center m-t-lg">
					{{> aolForm}}
	                </div>
	            </div>
	        </div>
	</div>
	{{> pageHeading title='AOL Tobmaps Table' }}
	<div class="wrapper wrapper-content animated fadeInRight">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="text-center m-t-lg">
				        {{> aolTables}}
	                </div>
            </div>
	        </div>
	</div>
</template>