<template name="actionTable">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>List of Actions</h5>
					</div>
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="footable table table-stripped toggle-arrow-tiny">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Actions Order</th>
										<th>ISP</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!--	Data to be loaded from Collection-->
									{{#each actionsdata}}
									<tr class="gradeX">
										<td>{{> editableText collection="actions" field="name" userCanEdit=userCanEdit}}</td>
										<td class="center">{{> editableText collection="actions" field="description" textarea=true userCanEdit=userCanEdit}}</td>
										<td class="center">{{#each actions}}
											<span class="label label-info">{{@index}}.{{this}}</span>
										{{/each}}</td>
										<td class="center">{{> editableText collection="actions" field="isp" userCanEdit=userCanEdit}}</td>
										<td class="center">
											<button class="btn btn-danger btn-sm fa fa-trash fa-2x js-delete-action"
											></button>
										</td>
									</tr>
									{{/each}}
								</tbody>
								<tfoot>
									<tr>
										<th colspan="2">Total Actions: {{actionsdata.length}}
										</th>
										<td colspan="3">
											<ul class="pagination pull-right"></ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
