<template name="multiselectComponent">
  <link rel="import" href="https://rawgit.com/sitepoint-editors/multiselect-web-component/master/src/multiselect.html">
	<x-multiselect id="scheduleHours" name="scheduleHours" placeholder="Select Hours">
		{{> hourSchedule}}
	</x-multiselect>
</template>

<template name="hourSchedule">
	{{#each hours}}
	 <li id="hour{{ _id }}" selected value="{{@index}}">{{@index}}:00</li>
	{{/each}}

</template>
<template name="minutesSchedule">
	{{#each minutes}}
	 <div class="option">
        <input type="checkbox" id="minutes{{@index}}0" value="{{@index}}0" checked />
        <label for="option1">{{@index}}0:00</label>
    </div>
	{{/each}}

</template>