<template name="graphScheduleView">
<!-- Page heading -->
    {{> pageHeading title='Schedule View' category='Schedule' }}

 <div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
           <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bot Activity during day!</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">

                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-line-chart-schedule"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>

</template>