<template name="scheduleViewTable">
	<!-- Page heading -->
	{{> pageHeading title='Schedule Table' category='Schedule/List' }}
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>List of Schedules</h5>
					</div>
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover dataTables-example" >
								<thead>
									<tr>
										<th>Schedule Name</th>
										<th>Actions</th>
										<th>Activate</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<!--Data to be loaded from Collection-->
									{{#each schedules}}
									{{> scheduleTableItems}}
									{{/each }}
								</tbody>
								<tfoot>
									<tr>
										<th>Total Schedules: {{schedules.length}} </th>
										<th colspan="2">Total actions: </th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<template name="scheduleTableItems">
	<tr class="gradeX">
		<td>{{ name }}</td>
		<td>
			{{> scheduleTableItemsActionsName botId=actions }}
		</td>
		<td>

			<div class="switch">
				<div class="onoffswitch">
				<input type="checkbox" checked="{{checked}}" class="onoffswitch-checkbox js-check-switch" id="{{_id}}">
					<label class="onoffswitch-label" for="{{_id}}">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>

		</td>
		<td>
			<a class="js-delete-schedule" href="#"><i class="fa fa-trash-o text-danger fa-2x">
			</i></a>
		</td>
	</tr>
</template>
<template name="scheduleTableItemsActionsName">
	{{#each getById botId}}
	<span class="label label-primary">{{@index}}. {{this}}</span>
	{{/each}}
</template>