<template name="schedule_view_graph">
	<!-- Page heading -->
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
					<h5>Bots Activity during day in Schedules!</h5>
					</div>
					<div class="ibox-content">
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-line-chart-schedule"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>