<template name="scheduleViewTable">
	<!-- Page heading -->
	{{> pageHeading title='Schedule Table' category='Schedule/List' }}
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>List of Schedules</h5>
					</div>
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="footable table table-stripped toggle-arrow-tiny" >
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Days Active</th>
										<th>Hours Active</th>
										<th>Actions</th>
										<th>White List</th>
										<th>Black List</th>
										<th>Active</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<!--Data to be loaded from Collection-->
									{{#each schedules}}
									{{> scheduleTableItems}}
									{{/each }}
								</tbody>
								<tfoot>
									<tr>
										<th colspan="2">Total Schedules: {{schedules.length}} </th>
										<th colspan="2">Total:  </th>
										<th colspan="5"><ul class="pagination pull-right"></ul></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<template name="scheduleTableItems">
	<tr class="gradeX">
		<td>{{ name }}</td>
		<td>{{ description }}</td>
		<td>{{#each days}}
				<span class="label label-info">{{this}}</span>
				{{/each}}
		</td>
		<td>{{#each hours}}
				<span class="label label-default">{{this}}:00</span>
				{{/each}}</td>
		<td>
			{{> scheduleTableItemsActionsName botId=actions }}
		</td>
		<td>{{> scheduleTableItemsWhiteDomains whiteId=whitelist }}</td>
		<td>{{> scheduleTableItemsBlackDomains blackId=blacklist }}</td>
		<td>

			<div class="switch">
				<div class="onoffswitch">
				<input type="checkbox" checked="{{state}}" class="onoffswitch-checkbox js-check-switch" id="{{_id}}">
					<label class="onoffswitch-label" for="{{_id}}">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>

		</td>
		<td>
			<a class="js-delete-schedule" href="#"><i class="fa fa-trash-o text-danger fa-2x">
			</i></a>
		</td>
	</tr>
</template>
<template name="scheduleTableItemsActionsName">
	{{#each getById botId}}
	<span class="label label-primary">{{@index}}. {{this}}</span>
	{{/each}}
</template>
<template name="scheduleTableItemsWhiteDomains">
	{{#each getWhiteById whiteId}}
	<span class="label label-warning">{{this}}</span>
	{{/each}}
</template>
<template name="scheduleTableItemsBlackDomains">
	{{#each getBlackById blackId}}
	<span class="label label-danger">{{this}}</span>
	{{/each}}
</template>