<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="../img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            <span class="block m-t-xs"> <strong class="font-bold">
                                {{ currentUser.emails.[0].address}}</strong>
                             </span>
                             <span class="text-muted text-xs block">{{currentUser.roles.[0]}} <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                            <li><a href="{{pathFor route='mailbox'}}">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        TM
                    </div>
                </li>
                <li class="{{isActiveRoute regex='dashboard1|dashboard2|dashboard3|dashboard4l|dashboard5'}}">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActiveRoute regex='dashboard1|dashboard2|dashboard3|dashboard4l|dashboard5' className='in'}}">
                        <li class="{{isActiveRoute regex='dashboard1'}}"><a href="{{pathFor route='dashboard'}}">Dashboard v.1</a></li>
                        <li class="{{isActiveRoute regex='dashboard2'}}"><a href="{{pathFor route='dashboard2'}}">Dashboard v.2</a></li>
                        <li class="{{isActiveRoute regex='dashboard3'}}"><a href="{{pathFor route='dashboard3'}}">Dashboard v.3</a></li>
                        <li class="{{isActiveRoute regex='dashboard4l'}}"><a href="{{pathFor route='dashboard4l'}}">Dashboard v.4</a></li>
                        <li class="{{isActiveRoute regex='dashboard5'}}"><a href="{{pathFor route='dashboard5'}}">Dashboard v.5 <span class="label label-primary pull-right">NEW</span></a></li>
                    </ul>
                </li>
                <li class="{{isActiveRoute regex='graphFlot|graphMorris|graphRickshaw|graphChartJs|graphPeity|graphSparkline|graphChartist'}}">
                    <a href="schedule"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Schedule</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActiveRoute regex='graphFlot|graphMorris|graphRickshaw|graphChartJs|graphPeity|graphSparkline|graphChartist' className='in'}}">
                        <li class="{{isActiveRoute regex='graphFlot'}}"><a class="js-show-schedule-view" href="#">View</a></li>
                        <li class="{{isActiveRoute regex='graphRickshaw'}}"><a href="/schedule/create">Create</a></li>
                    </ul>
                </li>
                {{#if isAdminUser 'Admin'}}
                <li class="{{isActiveRoute regex='graphFlot|graphMorris|graphRickshaw|graphChartJs|graphPeity|graphSparkline|graphChartist'}}">
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Users</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class=""><a href="">View</a></li>
                        <li class=""><a class='js-show-register' href="#">Add</a></li>
                    </ul>
                </li>
                {{/if}}
                 <li class="">
                    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Accounts</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class=""><a class="js-show-yahoo" href="#">Yahoo</a></li>
                        <li class=""><a class="js-show-gmail" href="#">Gmail</a></li>
                        <li class=""><a class="js-show-outlook" href="#">Outlook</a></li>
                        <li class=""><a class="js-show-aol" href="#">AOL</a></li>
                    </ul>
                </li>

                <li class="">
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">IMAP/SMTP</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Proxy List</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                        <li class=""><a href=""></a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</template>