<template name="loginForm">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="LoginForm">
            <h3>TobMaps</h3>
            <form class="m-t js-form-login" role="form" action="{{pathFor route='dashboard1'}}">
				<div class="input-group m-b">
				 	<span class="input-group-addon"><i class="fa fa-user"></i></span>
				 	<input type="text" id="login-email" placeholder="User" class="form-control">
				</div>
				<div class="input-group m-b">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					<input type="password" id="login-pass" placeholder="Password" class="form-control">
				</div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <a href="#"><small>Forgot password?</small></a>
            </form>
            <p class="m-t"> <small>TobMaps &copy; 2016</small> </p>
        </div>
    </div>
</template>