<template name="domainsTable">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>List of Domains</h5>
					</div>
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="footable table table-stripped toggle-arrow-tiny">
								<thead>
									<tr>
										<th>Domain name</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!--Data to be loaded from Collection-->
									{{#each domainsData}}
									<tr class="gradeX">
										<td><span class="label">{{> editableText collection="domains" field="domain" userCanEdit=userCanEdit}}</span></td>
										<th>
											<button class="btn btn-danger btn-sm fa fa-trash fa-2x js-delete-domain" type="button"></button>
										</th>
									</tr>
									{{/each}}
								</tbody>
								<tfoot>
									<tr>
										<th>Total Domains: {{domainsData.length}}</th>
										<th>
											<ul class="pagination pull-right"></ul>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>