<template name="addGmail">
    {{> pageHeading title='Gmail Tobmaps' }}
	<div class="wrapper wrapper-content animated fadeInRight">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="text-center m-t-lg">
					{{> gmailForm}}
	                </div>
	            </div>
	        </div>
	</div>
	{{> pageHeading title='Gmail Tobmaps Table' }}
	<div class="wrapper wrapper-content animated fadeInRight">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="text-center m-t-lg">
				        {{> gmailTables}}
	                </div>
            </div>
	        </div>
	</div>
</template>