<template name="actionForm">
<!-- Page heading -->
	{{> pageHeading title='Action Form' }}

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
							<h5>Form to register an Action</h5>
					</div>
					<div class="ibox-content">
						{{#autoForm collection="Actions" action=this id="actionForm" type="method" meteormethod="addAction"}}
						<fieldset>
							{{> afQuickField name='name'}}
							{{> afQuickField name='description' rows=3}}
							{{> afQuickField name='isp'}}
							{{> afQuickField name='typelist'}}
						</fieldset>
						<button type="submit" class="btn btn-primary btn-sm">Save</button>
						<button type="reset" class="btn btn-default btn-sm">Cancel</button>
						{{/autoForm}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>