<template name="actionTable">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>List of Actions</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Path</th>
                            </tr>
                            </thead>
                            <tbody>
<!--
 	Data to be loaded from Collection
-->
                            {{#each actions}}
                            <tr class="gradeX">
                              <td>{{name}}</td>
                              <td class="center">{{description}}</td>
                              <td class="center">tests/{{path}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">Total Actions: {{actions.length}} </th>
                            </tr>
                            </tfoot>
                        </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>